.page {
 min-width: 1100px;
 max-width: 1600px;
 margin: 0 auto;
 font-family: Helvetica Neue, Arial, sans-serif;
}

.header {
 height: 100vh;
 min-height: 600px;
 max-height: 756px;
 display: flex;
 align-items: center;
 position: relative;
 background-color: #f2f2f2;
 overflow: hidden;
}

.logo {
height: 32px;
width: 228px;
}

.logo_place_header {
background-image: url(../images/logo_place_header.svg);
position: absolute;
top: 30px;
left: 64px;
z-index: 1;
}

.header__title {
width: 730px;
margin-left: 64px;
align-items: center;
font-size: 102px;
font-weight: 600;
line-height: 96px;
color: #000000;
}

.header__subtitle {
width: 388px;
position: absolute;
bottom: 30px;
left: 64px;
z-index: 3;
font-size: 18px;
font-weight: 400;
line-height: 25px;
}

.link {
text-decoration: none;
transition: in linear;
}

.header__link {
 color: #2f80ed;
}

.link:hover {
opacity: 60%;
}

.header__main-illustration {
position: absolute;
bottom: 0;
right: 0;
height: 608px;
width: 765px;
background-image: url(../images/header-image.png);
background-size: cover;
z-index: 3;
}

.header__square-pic {
height: 568px;
width: 568px;
background-color: #2f80ed;
position: absolute;
top: 64px;
right: 0;
}

.description {
padding: 100px 0 100px;
}

.two-columns {
width: 80%;
margin: auto;
display: flex;
align-items: baseline;
justify-content: space-between;
}

.two-columns__brief {
width: 175px;
line-height: 1.2;
font-size: 18px;
font-weight: 400;
color: #2f80ed;
}

.two-columns__main-text {
min-width: 784px;
width: 80%;
}

.two-columns__paragraph {
line-height: 34px;
font-size: 24px;
font-weight: 400;
margin: 0 auto 30px;
}

.two-columns__span-accent {
line-height: 34px;
font-size: 24px;
font-weight: 600;
}

.digits {
display: block;
padding: 50px 0 100px;
}

.section-title {
width: 60%;
margin: 0 auto 20px;
text-align: center;
line-height: 69px;
font-size: 60px;
font-weight: 600;
}

.section-subtitle {
width: 60%;
margin: auto;
text-align: center;
line-height: 34px;
font-size: 24px;
font-weight: 400;
}

.table {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 1100px;
margin: auto;
}

.table__cell {
width: 250px;
padding-top: 60px;
}

.table__cell_theme_dark {
width: 200px;
color: white;
margin-right: 0;
margin-top: 80px;
padding: 0;
z-index: 1;
}

.table__heading {
line-height: 1.15;
font-size: 24px;
font-weight: 600;
margin: 0 auto 20px;
}

.table__text {
line-height: 1.2;
font-size: 18px;
font-weight: 400;
margin: 0;
margin-top: 20px;
}

.feynman {
height: 790px;
padding-top: 80px;
display: flex;
flex-direction: column;
position: relative;
background-color: #f2f2f2;
}

.feynman__title {
width: 648px;
margin: 0 auto 70px;
text-align: center;
line-height: 1.15;
font-size: 120px;
font-weight: 600;
z-index: 1;
color: #000000;
}

.feynman__subtitle {
line-height: 51px;
font-size: 36px;
font-weight: 400;
text-align: center;
margin: 0;
z-index: 1;
}

.feynman__link {
position: absolute;
top: 50%;
right: 48px;
line-height: 51px;
font-size: 36px;
font-weight: 400;
color: #2f80ed;
text-decoration: none;
transition: opacity .2s linear;
cursor: pointer;
}

.feynman__link:hover {
opacity: .5;
}

.feynman__illustration {
position: absolute;
bottom: 0;
left: 0;
height: 637px;
width: 867px;
background-image: url(../images/feinman.png);
background-size: cover;
}

.kaufman {
padding: 90px 0 90px;
position: relative;
overflow: hidden;
background-color: #1f1f1f;
color: #fff;
}

.kaufman__triangle {
background-image: url(../images/kaufman-triangle.svg);
position: absolute;
top: 0;
right: -210px;
height: 877px;
width: 877px;
background-size: cover;
z-index: 0;
}

.table__heading_theme_dark {
padding-top: 0;
border: 1px solid;
}

.footer {
min-height: 350px;
display: flex;
position: relative;
background-color: #1f1f1f;
}

.footer__columns {
margin: 60px auto 40px;
width: 90%;
display: flex;
justify-content: space-between;
}

.footer__column_content_copyright {
flex-basis: 711px;
min-height: 350px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.logo_place_footer {
background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
margin: 18px 0 18px;
z-index: 3;
line-height: 25px;
font-size: 18px;
color: white;
font-weight: 400;
}

.footer__author::before {
content: '\00A9';
margin-right: 10px;
}

.footer__column-heading {
line-height: 30px;
font-size: 18px;
font-weight: 600;
color: white;
margin: 0;
}

.footer__list-item {
line-height: 30px;
font-size: 18px;
font-weight: 400;
}

.footer__column-links {
padding-left: 0;
list-style: none;
margin: 20px 0 16px;
}

.footer__column-link { 
margin: 0 0 16px;
color: white;
text-decoration: none;
transition: opacity .2s linear;
font-weight: 400;
font-size: 18px;
line-height: 30px;
cursor: pointer;
}

.footer__column-link:hover {
opacity: .5;
}

.footer__column-link_YT::before {
 content: url(../images/youtube-icon.svg);
 width: 16px;
 height: 16px;
 margin-right: 10px;
}

.footer__column-link_vk::before {
content: url(../images/vk_color_white.svg);
width: 16px;
height: 16px;
margin-right: 10px;
}

.footer__column-link_TT::before {
content: url(../images/tiktok-icon.svg);
width: 16px;
height: 16px;
margin-right: 10px;
}

