body, html {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    min-height: 80px;
  }
  
  .header_theme_dark {
    background-color: black;
    color: white;
  }
  
  .menu {
    width: 20%;
    display: flex;
    justify-content: space-between;
  }
  
  .menu__link {
    text-decoration: none;
    color: black;
  }
  
  .menu__link_theme_dark {
    color: white;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    min-height: calc(100vh - 160px);
  }
  
  .content_theme_dark {
    background-color: black;
    color: white;
  }
  
  .footer {
    min-height: 80px;
    padding: 0 80px;
    display: flex;
    align-items: center;
  }
  
  .footer_theme_dark {
    background-color: black;
    color: white;
  }
  
  .contact-form__label {
    display: block;
    margin-top: 20px;
  }
  
  .contact-form__input {
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border: 1px solid black;
  }
  
  .contact-form__textarea {
    display: block;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin-top: 20px;
  }
  
  .contact-form__button {
    display: block;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
  }
  